﻿.page-separate {
    width: 100%;
    height: 150px;
    text-align: center;
}

.pagination-container {
    text-align: center;
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
}

    .pagination li.active a {
        background-color: #0e0c28;
        color: #fff;
    }

        .pagination li.active a:hover {
            background-color: #0e0c28;
        }

.list-vehicle .pagination li a {
    display: inline-block;
    border: 1px solid #E5E5E5;
    margin: 0 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    color: #757575;
}

.pagination li a:hover {
    color: #757575;
}

.footer {
    position: absolute;
    bottom: 0;
    bottom: 0;
}

.btn-secondary disabled:hover {
    background-color: red;
    border-color: red;
}
